# Байт-компилированные/оптимизированные/DLL-файлы
__pycache__ /
* .py [ треска ]
* $py.класс

# Расширения C
* .so

# Распространение/упаковка
.Питон
построить /
развивающие яйца /
расстояние /
загрузки /
яйца /
.яйца /
библиотека /
lib64 /
части /
сдист /
вар /
колеса /
Пип-колесо-метаданные /
поделиться / python-wheels /
* .egg-info /
.installed.cfg
* .яйцо
МАНИФЕСТ

# PyInstaller
#   Обычно эти файлы пишутся скриптом Python из шаблона
#   перед тем, как PyInstaller соберет exe-файл, чтобы добавить в него дату/другую информацию.
* .манифест
* .spec

# Журналы установщика
пип-log.txt
pip-delete-this-directory.txt

# Отчеты о модульном тестировании/покрытии
htmlcov /
.токс /
.nox /
.покрытие
.покрытие. *
.cache
ностестс.xml
покрытие.xml
* .обложка
* .py,обложка
.гипотеза /
.pytest_cache /

# Переводы
* .mo
* .пот

# Материалы Джанго:
* .log
local_settings.py
db.sqlite3
db.sqlite3-журнал

# Материал колбы:
экземпляр /
.webassets-кэш

# Скромные вещи:
.скрапи

# Документация по Сфинксу
документы / _build /

# Пибилдер
цель /

# Блокнот Jupyter
.ipynb_checkpoints

# IPython
профиль_по умолчанию /
ipython_config.py

# pyenv
.python-версия

# пипенв
#    Согласно pypa/pipenv#598, рекомендуется включить Pipfile.lock в систему контроля версий.
#    Однако в случае сотрудничества, если имеются зависимости или зависимости, специфичные для платформы
#    не имея кросс-платформенной поддержки, Pipenv может устанавливать зависимости, которые не работают или не работают
#    устанавливаем все необходимые зависимости.
# Пипфайл.lock

№ ПКП 582; используется, например, github.com/David-OConnor/pyflow
__pypackages__ /

# Сельдерей
сельдерейбит-расписание
сельдерейбит.pid

# файлы, обработанные SageMath
* .sage.py

# Среды
.env
конф / .env
.venv
окр /
венв /
ЕНВ /
окр.бак /
venv.bak /

# Настройки проекта Spyder
.spyderproject
.spyproject

# Настройки проекта веревки
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/
.idea/
idea/
